<h2>Welcome, <%= current_user.name %>!</h2>


<%= render "urls/create_new" %>

<h4>Here are links you've shortened recently:</h4>
<table>
  <th>Destination</th>
  <th>Give this URL to your friends!</th>
  <% current_user.urls.order("created_at DESC").each do |link| %>
    <tr>
      <td><%= link_to link.full_url, link.full_url %></td>
      <td><%= root_url + link.short_url %></td>
    </tr>
  <% end %>
</table>
